<div class="error">
  
</div>

<h1>Login:</h1>
	<div>
  <form action="/login" method='post'>
    <div>Name: <input type="text" name="user[name]"></div>
  		<div>Password: <input type="password" name="user[password]"></div>
    <div>Confirm Password: <input type="password" name="user[password_confirmation]"></div>
    <input type="submit">
  </form>
</div>

<h4>Or Signup Here:</h4>

<div>
  <form action="/signup" method='post'>
    <div>Name: <input type="text" name="user[name]"></div>
 	 <div>Email: <input type="text" name="user[email]"></div>
  	<div>Password: <input type="password" name="user[password]"></div>
  	<div>Password: <input type="password" name="user[password_confirmation]"></div>
    <input type="submit">
  </form>
</div>